<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.operacion.repo.TipoCambioMapper">


    <!-- **************** LISTAR *********************** -->

    <resultMap id="listResult" type="TipoCambioEntity">
        <result column="idtipoCambio" property="idtipoCambio"/>
        <result column="monto" property="monto"/>
        <result column="codigo" property="codigo"/>
        <result column="tipoCambio" property="tipoCambio"/>
    </resultMap>

    <parameterMap id="listParameter" type="TipoCambioEntity">
        <parameter property="listaTipoCambio" jdbcType="CURSOR" mode="OUT" resultMap="listResult"/>
    </parameterMap>

    <select id="listar" parameterMap="listParameter" statementType="CALLABLE">
        { CALL U_NEORIS_OPERACION.NEO_PKG_OPER.NEO_SP_SELECT_TIPO_CAMBIO(?,?) }
    </select>


</mapper>